#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	sed -e 's@^MANPREFIX.*@MANPREFIX = $$(PREFIX)/share/man@' -i config.mk
	mv wtf.c twf.c
	mv man/wtf.1 man/twf.1
	sed -e 's@wtf\.c@twf\.c@' -i Makefile
	sed -e 's@wtf\.1@twf\.1@' -i man/Makefile
